::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color:rgba(24,30,49,255);
}

::-webkit-scrollbar-thumb{
    background:rgba(24,30,49,255);
    background: rgba(215,162,119,255);
    border-radius: 25px;
}